.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.root {
    padding-top: 80px;
    padding-bottom: 80px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-weight: 900;
    font-size: 34px;
    margin-bottom: var(--mantine-spacing-md);
    font-family: Greycliff CF, var(--mantine-font-family);
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }
}

.control {
    @media (max-width: 768px) {
        width: 100%;
    }
}

.mobileImage {
    @media (min-width: 48em) {
        display: none;
    }
}