body {
  margin: 100px;
  top: 100px;
  left: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  margin: 100px;
  top: 100px;
  left: 100px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/**{*/
/*  text-align: center;*/
/*}*/
/*.container{*/
/*  margin-top: 100px;*/
/*}*/
/*.input_space{*/
/*  margin-bottom: 10px;*/
/*}*/